[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
environ = "*"
validate-email = "*"
pyopenssl = "*"
certifi = "*"
six = "*"
xlwt = "*"
weasyprint = "*"
django-auto-logout = "*"
pytz = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
