{%extends 'base_income.html' %}
{% block content %}

<h1 style="text-align: center;">
    Add Income
</h1>

<form id="add_inc" action="{% url 'add-income' %}" method="post">

    {% csrf_token %}
    {% include 'partials/_messages.html' %}

    <label for="amount">Amount</label><input type="text" value="{{values.amount}}" name="amount"><br>
    <label for="date">Date of Income</label><input type="date" name="income_date"><br>
    <label for="description">Description</label><input type="text" value="{{values.description}}" name="description"><br>
    <label for="source">Source</label><select name="source"><br>
        {% for source in sources %}
        <option name="source" value="{{source.name}}">{{source.name}}</option>
        {% endfor%}
    </select><br>

    <input type="submit" value="Submit">
</form>
<a href={% url 'income' %} style="margin: 10px;" class="btn btn-secondary" > Back </a>

{% endblock %}