{%extends 'base.html' %}
{% load static%}
{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Income</a></li>
      <li class="breadcrumb-item active" aria-current="page">My Income</li>
    </ol>
  </nav>

  <div>

    <a href="{% url 'add-income' %}"> Add Income </a>

  </div>

<h1> Income </h1>

 <div>
{% include 'partials/_messages.html' %}
{% if incomes.count %}

<div>
        <input type= "text" id="searchField" placeholder="Search">
</div>

    <div class = "income-app-table">
        <table>
        <thead>
            <thead>
                <tr>
                    <th>Amount ({{currency}})</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Source</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for income in page_obj%}
                <tr>
                    <td>{{income.amount}}</td>
                    <td>{{income.date}}</td>
                    <td>{{income.description}}</td>
                    <td>{{income.source}}</td>
                    <td><a href="{% url 'income-edit' income.id %}">Edit</a></td>
                    <td><a href="{% url 'income-delete' income.id %}">X</a></td>
                    <td></td>
                </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>

    <div class = "income-table-output">
        <table>

            <thead>
                <thead>
                    <tr>
                        <th>Amount ({{currency}})</th>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Source</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody class = "table-body">
                    
                </tbody>
            </table>
    </div>

    <div class="pagination">
        Showing page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
    </div>


{% endif %}
</div>  

<form action="{% url 'logout' %}" method="POST">
{% csrf_token %}
    
    <a href= "{% url 'preferences' %}">Preferences</a> <hr>
    <a href= "{% url 'expenses' %}">Expenses</a> <hr>
    <input type="submit" value= "Sign out"/>
    

</form>

<script src={% static 'js/searchIncome.js' %}></script>

{% endblock %}