{%extends 'base_preferences.html'%}
{%load static%}
{%block content%}

<nav class="navbar">
    <div class="navbar-logo">
        <a href="#"><img src="{% static 'img/PyMation_logo.png' %}" alt="Logo"></a>
    </div>
    <ul class="navbar-links">
        <li><a href="{% url 'expenses' %}">Expenses</a></li>
        <li><a href="{% url 'income' %}">Income</a></li>
        <li><a href="{% url 'stats' %}">Statistics</a></li>
        <li><a href="{% url 'account' %}">Account</a></li>
    </ul>
</nav>

<h5>Preferred Currency</h5>

{% include 'partials/_messages.html' %}

<form action ="{% url 'preferences' %}" method = "post">
    {% csrf_token %}
<div class="input-group">
    <select name = "currency" class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
      
    {% if user_preferences.currency %}
      
    <option name = "currency" selected value="{{user_preferences.currency}}">
        {{user_preferences.currency}}
    </option>
      
    {% endif %}

    {% for currency in currencies %}

    <option name = "currency" value = "{{currency.name}} - {{currency.value}}">
        {{currency.name}} - {{currency.value}}
    </option>

    {% endfor %}

    </select>
    <input class="btn btn-primary" type="submit" value = "Save" />
  </div>

<hr>

{%endblock%}