{%extends 'base.html' %}
{% load static%}
{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Expense Statistic</a></li>
      <li class="breadcrumb-item active" aria-current="page">Stats</li>
    </ol>
  </nav>

<h1> Expense statistics </h1>

<div>
{% include 'partials/_messages.html' %}

<div>
    <canvas id="myChart"></canvas>
  </div>

</div>

<form action="{% url 'logout' %}" method="POST">
{% csrf_token %}
    <hr>
    <a href= "{% url 'preferences' %}">Preferences</a> <br>
    <a href= "{% url 'income' %}">Income</a> <br>
    <a href= "{% url 'stats' %}">Stats</a> <br>
    <a href= "{% url 'expenses' %}">Expenses</a> <br>
    <input type="submit" value= "Sign out"/>
    

</form>

<script src={% static 'js/stats.js' %}></script>

{% endblock %}