{%extends 'base_stats.html' %}
{% load static%}
{% block content %}

<nav class="navbar">
  <div class="navbar-logo">
      <a href="#"><img src="{% static 'img/PyMation_logo.png' %}" alt="Logo"></a>
  </div>
  <ul class="navbar-links">
      <li><a href="{% url 'expenses' %}">Expenses</a></li>
      <li><a href="{% url 'income' %}">Income</a></li>
      <li><a href="{% url 'stats' %}">Statistics</a></li>
      <li><a href="{% url 'account' %}">Account</a></li>
  </ul>
</nav>

<h1> General statistics </h1>

<div class="charts">
{% include 'partials/_messages.html' %}

<div class="myChart">
    <canvas id="myChartExp"></canvas>
</div>

<div class="myChart">
  <canvas id="myChartInc"></canvas>
</div>

</div>

<script src={% static 'js/statsExpense.js' %}></script>
<script src={% static 'js/statsIncome.js' %}></script>

{{ redirect_to_login_immediatelly }}

{% endblock %}