{% extends 'base_auth.html' %} 
{% load static %}

{% block content %}
<div class="wrapper">
    <h2>Reset Password</h2>
    <form action="{% url 'reset-password' %}" method="post">
      {% csrf_token %}
      {% include 'partials/_messages.html' %}
      <h4>Please enter your e-mail address</h4>
      <div class="input-box">
        <input name = "email" id="emailField" type="email" placeholder="Enter your email" value = "{{values.email}}" required>
        <div class="email_feedback"></div>
        <div class = "input-box">
            <p>Already have an account?  </p><a href="{% url 'login'%}">Login now</a><br>
            <p>Don't have an account?  </p><a href="{% url 'register'%}">Register now</a>
        </div>
    </div>
      <div class="input-box button">
        <input id="submitBtn" type="Submit" value="Submit">
      </div>
    </form>
  </div>
  <script src = "{% static "js/register.js" %}"></script>
{% endblock %}